@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');

.app-header{
    margin: 2em auto 1em auto;
    text-align: center;
}

.header {
    font-family: 'Azeret Mono', monospace;
}

main {
    margin: 1em auto;
    text-align: center;
    width: 100%;
}

textarea {
    width: 60%;
    background-color: rgb(255, 243, 176);
}

.language-selector{
    width: 60%;
    text-align: center;
}

Form > .form-child {
    margin-bottom: 1em;
}

Button {
    background-color: rgb(223, 233, 133);
    border-radius: 10px;
    width: 15%;
    height: 2em;
}